* {
  padding: 0;
  margin: 0; }

body {
  margin: 5px; }

img {
  max-width: 100%;
  max-height: 100%; }

video {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none;
  outline: none; }
  a:focus {
    border-bottom: 1px solid; }
  a:hover {
    color: #2b76d8; }
  a:link {
    color: black; }

/*TO USE BOOTSTRAP:START*/
.nav-link {
  background-color: rgba(225, 231, 231, 0.5);
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  font-size: 20px;
  margin: 5px; }

.navbar-collapse {
  flex-grow: initial; }

.bg-light {
  --bs-bg-opacity: 5; }

.spacing {
  border-bottom: 1px solid;
  margin: 8px; }

span {
  margin: 5%; }

footer {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 15px; }

.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px; }

.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px; }

.jumbotron small {
  color: #FFF; }

.h1 small {
  font-size: 24px; }

/*TO USE BOOTSTRAP:ENDS*/
/*STARTS INDEX SECTION*/
.container {
  max-width: 1366px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-areas: "logo seccion nav nav nav nav nav" "banner banner banner banner banner banner banner " "panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelDerecho panelDerecho panelDerecho" "footer footer footer footer footer footer footer";
  grid-template-columns: 150px repeat(6, 1fr);
  grid-template-rows: 1fr 7fr 3fr 0.1fr;
  grid-row-gap: 3px; }
  .container .logo {
    grid-area: logo;
    width: 155px;
    height: 112px;
    border-bottom: 3px solid; }
  .container .seccion_index:before {
    grid-area: seccion;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    font-size: 25px;
    border-bottom: solid 3px;
    background-color: blue;
    content: "Inicio"; }
  .container .seccion_about:before {
    grid-area: seccion;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    font-size: 25px;
    border-bottom: solid 3px;
    background-color: blue;
    content: "Nosotros"; }
  .container .seccion_product:before {
    grid-area: seccion;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    font-size: 25px;
    border-bottom: solid 3px;
    background-color: blue;
    content: "Productos"; }
  .container .seccion_services:before {
    grid-area: seccion;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    font-size: 25px;
    border-bottom: solid 3px;
    background-color: blue;
    content: "Servicios"; }
  .container .seccion_contact:before {
    grid-area: seccion;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    font-size: 25px;
    border-bottom: solid 3px;
    background-color: blue;
    content: "Contactenos"; }
  .container nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    border-bottom: 3px solid; }
    .container nav .menu {
      border: 1px solid;
      border-radius: 10px;
      text-align: center;
      font-size: 20px;
      margin: 3px;
      background-color: #e1e7e7;
      height: 25px; }
  .container .banner {
    grid-area: banner;
    background-size: cover;
    animation: banner 25s infinite; }

@keyframes banner {
  0%,
  30% {
    background-image: url(../images/banner0_0.PNG); }
  30%,
  50% {
    background-image: url(../images/banner0_1.PNG); }
  50%,
  75% {
    background-image: url(../images/banner0_2.PNG); }
  75%,
  100% {
    background-image: url(../images/banner0_3.PNG); }
  100%,
  100% {
    background-image: url(../images/banner0_0.PNG); } }
  .container .panelDerecho {
    grid-area: panelDerecho;
    align-self: center; }
  .container .panelIzquierdo {
    grid-area: panelIzquierdo;
    /*background-color: rgb(239 236 226);*/
    padding-top: 8%; }
    .container .panelIzquierdo h2 {
      font-size: 40px;
      margin-top: 15px;
      margin-bottom: 20px;
      text-align: center; }
    .container .panelIzquierdo p {
      text-align: center; }
  .container .footer {
    grid-area: footer;
    text-align: center;
    font-size: 17px; }

/*ENDS INDEX SECTION*/
/*STARTS ABOUT SECTION*/
.container-about {
  max-width: 1366px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-areas: "logo seccion nav nav nav nav nav" "panelIzquierdo panelIzquierdo panelIzquierdo panelDerecho panelDerecho panelDerecho panelDerecho" "team team team team team team team " "footer footer footer footer footer footer footer";
  grid-template-columns: 150px repeat(6, 1fr);
  grid-template-rows: auto 1fr 2fr 0.1fr;
  grid-row-gap: 3px; }
  .container-about .panelDerecho-about {
    grid-area: panelIzquierdo;
    align-self: center; }
  .container-about .panelIzquierdo-about {
    grid-area: panelDerecho;
    background-color: #efece2;
    padding-top: 5%; }
    .container-about .panelIzquierdo-about h2 {
      font-size: 40px;
      text-align: center; }
    .container-about .panelIzquierdo-about p {
      text-align: center;
      font-size: 20px;
      padding: 5px; }
  .container-about .team {
    grid-area: team;
    background-color: rgba(66, 66, 66, 0.7); }

.wrapper {
  margin-top: 60px;
  text-align: center; }
  .wrapper h3 {
    font-family: "Yatra One", cursive;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px; }

.our_team {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .our_team .team_member {
    width: 250px;
    margin: 5px;
    background: #adacac;
    padding: 20px 10px; }
    .our_team .team_member .member_img {
      background: #e9e5fa;
      max-width: 190px;
      width: 100%;
      height: 190px;
      margin: 0 auto;
      border-radius: 50%;
      padding: 5px;
      position: relative;
      cursor: pointer; }
      .our_team .team_member .member_img img {
        width: 100%;
        height: 100%; }
    .our_team .team_member h3 {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      margin: 15px 0 0px; }
    .our_team .team_member span {
      font-size: 10px; }
    .our_team .team_member p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px; }

/*ENDS ABOUT SECTION*/
/*STARTS PRODUCTS SECTION*/
.container-products {
  margin: auto;
  padding: 10px;
  text-align: center; }

/*ENDS PRODUCTS SECTION*/
/*STARTS SERVICES SECTION*/
.container-services {
  max-width: 1366px;
  height: auto;
  margin: auto; }

/*ENDS SERVICES SECTION*/
/*STARTS CONTACT SECTION*/
.container-contacts {
  margin: auto;
  padding: 10px; }

.contacts-body {
  margin: 5%; }

/*FINISH CONTACT  SECTION*/
@media screen and (max-width: 768px) {
  .container {
    grid-template-areas: "logo seccion nav nav nav nav nav" "banner banner banner banner banner banner banner" "panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo " "panelDerecho panelDerecho panelDerecho panelDerecho panelDerecho panelDerecho panelDerecho" "footer footer footer footer footer footer footer";
    grid-template-columns: 110px repeat(6, 1fr);
    grid-template-rows: auto 1fr 0.7fr 0.3fr; }
    .container .banner {
      grid-area: banner;
      animation: banner 25s infinite; }
    .container .seccion {
      grid-area: seccion;
      text-align: center;
      vertical-align: middle;
      padding-top: 35px;
      font-size: 15px;
      border-bottom: solid 3px; }
    .container nav {
      grid-area: nav;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 35px;
      border-bottom: 3px solid; }
      .container nav .menu {
        border: 1px solid;
        border-radius: 10px;
        text-align: center;
        font-size: 10px;
        margin: 1px;
        background-color: #e1e7e7;
        height: 18px; }
    .container .logo {
      grid-area: logo;
      width: 110px;
      height: 80px;
      border-bottom: 3px solid; }
  .container-about {
    grid-template-areas: "logo seccion nav nav nav nav nav" "panelDerecho panelDerecho panelDerecho panelDerecho panelDerecho panelDerecho panelDerecho" "panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo panelIzquierdo " "team team team team team team team " "footer footer footer footer footer footer footer";
    grid-template-columns: 110px repeat(6, 1fr);
    grid-template-rows: 0.01fr auto auto 1fr 0.1fr; }
    .container-about .panelDerecho-about {
      grid-area: panelIzquierdo;
      align-self: center; }
    .container-about .panelIzquierdo-about {
      grid-area: panelDerecho;
      background-color: #efece2; }
      .container-about .panelIzquierdo-about h2 {
        font-size: 40px;
        text-align: center; }
      .container-about .panelIzquierdo-about p {
        text-align: center;
        font-size: 20px; }
    .container-about .team {
      grid-area: team;
      background-color: rgba(66, 66, 66, 0.7); }
  .wrapper {
    text-align: center; } }
